.nav-main {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* padding: 20px; */
}

.header-nav-bar {
  display: flex;
  background: white;
  width: 100%;
  // margin-left: 7px;
  // padding-left: 20px;
  /* height: 50px; */
  height: 65px;
  box-sizing: border-box;
  padding: 0 55px;
  top: 0;
  z-index: 2;
  /* opacity: .9; */
  position: sticky;
  /* box-shadow: #afbfca 0px 2px 9px, white 0px 0px 2px; */
  margin-bottom: 2px;
  box-shadow: #f9f9f9 0px 2px 4px;
  /* box-shadow:lightgray 0px 2px 4px, white 0px 0px 2px; */
}

.whitespace {
  display: flex;
  flex-direction: row;
}

.header-dropdown-nav {
  position: absolute;
  display: none;
  width: 100px;
  border-radius: 5px;
  top: 40px;
}

.header-signup-button {
  display: flex;
  align-self: center;
  align-items: center;
  color: black;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 15px;
  letter-spacing: 0.2px;
  height: 28px;
  border: 2px solid black;
  border-radius: 20px;
  font-weight: bold;
  padding: 0px 15px;
}

.header-signup-button:hover {
  color: #aac1ca;
}

.header-login-button {
  display: flex;
  align-items: center;
  padding: 0px 15px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 15px;
  letter-spacing: 0.2px;
  font-weight: bold;
  color: black;
}

.header-login-button:hover {
  color: #aac1ca;
}

.user-dropdown-nav {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.user-dropdown-nav > a {
  display: flex;
  align-self: center;
  align-items: center;
  direction: row;
  color: black;
  text-decoration: none;
  font-family: sans-serif;
  // font-family: Arial, Helvetica, sans-serif;
  font-size: 15.6px;
  letter-spacing: 0.3px;
  height: 43px;
  width: 88px;
  border: 2px solid black;
  border-radius: 25px;
  font-weight: bold;
  padding: 0px 15px;
}

.upload-arrow-icon {
  margin-right: 8px;
}

.header-upload-button:hover {
  // background-color: #aab9ca;
  background-color: #d9e0e7;
}

//inverting upload button.. need to fix so when on loading page button disappears
// .header-upload-button:focus {
//   // background-color: #545f87;
//   -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
//       filter: invert(100%);
//   // color: white;
// }

.display-nav {
  float: right;
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.nav-main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-logos {
  display: flex;
  flex-direction: center;
}

.nav-logo-links {
  display: flex;
  align-items: center;
}

.logo-link {
  color: black;
  font-size: 25px;
  text-decoration: none;
  /* margin-right: 10px; */
  font-family: "Comfortaa", cursive;
}

.logo-link:hover {
  color: #aac1ca;
}

.center-links {
  display: flex;
  align-items: center;
  /* margin-top: 20px; */
  margin-left: 15px;
}

.center-link {
  color: black;
  text-decoration: none;
  margin: 0 32px;
  font-size: 15.5px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  color: #333333;
}

.center-link:hover {
  color: #aac1ca;
}

.user-dropdown {
  position: relative;
  display: inline-block;
}

.user-dropdown-nav {
  width: 100%;
  /* display: flex; */
  /* flex-direction: column; */
  justify-content: space-between;
  // padding: 15px 32px 10px 16px;
}

.user-dropdown-header-icon {
  position: relative;
  width: 35px;
  height: 35px;
  vertical-align: middle;
  padding: 10px;
  margin-right: 25px;
  margin-left: 10px;
  border: 0px;
  border-radius: 50%;
}

.user-dropdown-header-icon:hover {
  cursor: pointer;
  // transition: all 0.5s ease;
}

.dropdown-link-container {
  padding-top: 10px;
  padding-bottom: 14px;
}

.user-dropdown-nav-content {
  position: absolute;
  display: none;
  background-color: white;
  width: 160px;
  // height: 150px;
  margin-top: 84px;
  box-shadow: #afbfca 0px 2px 9px, white 0px 0px 2px;
  margin-left: -4px;
  border-top-width: 1px;
  border-top-color: rgb(255, 255, 255);
  font-family: sans-serif;
  font-size: 15px;
  border-radius: 5px;
  box-sizing: border-box;
  content: "";
  border-left: 0;
  pointer-events: auto;
}

.show {
  display: block;
}

// cool effect
.user-dropdown-nav-content:after {
  position: absolute;
  width: 0;
  height: 0;
  top: -10px;
  right: 108px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  content: "";
  border-bottom: 10px solid #dde4e8;
}

// border-right: 8px solid transparent;
// border-bottom: 12px solid #efefef;
// // border-right: 30px solid transparent;
// // border-bottom: 20px solid #efefef;
// top: -20px;
// right: 100px;
// content: '';
// position: absolute;

// .user-dropdown-nav-content:after {
//     border-left: 20px solid transparent;
//     border-top: 20px solid #efefef;
//     bottom: -20px;
//     content: "";
//     position: absolute;
//     right: 20px;
// }

.user-dropdown-nav-content:hover {
  display: block;
  cursor: pointer;
  // background-color: ;
}

// pad around links
.user-dropdown-nav-content a {
  display: block;
  padding: 10px;
  color: black;
  // margin: 5px; do not margin
}

.dropdown-link {
  color: black;
  text-decoration: none;
  padding-left: 50px;
  // padding-left: 50px;
}

.dropdown-link:hover {
  color: black;
  background: #aab9ca;
}
