.nav-main {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* padding: 20px; */
}

.header-nav-bar {
  display: flex;
  background: white;
  width: 100%;
  margin: 0;
  /* height: 50px; */
  height: 65px;
  box-sizing: border-box;
  padding: 0 55px;
  top: 0;
  z-index: 2;
  /* opacity: .9; */
  position: sticky;
  /* box-shadow: #afbfca 0px 2px 9px, white 0px 0px 2px; */
  margin-bottom: 2px;
  box-shadow:#f9f9f9 0px 2px 4px;
  /* box-shadow:lightgray 0px 2px 4px, white 0px 0px 2px; */
}

.whitespace {
  display: flex;
  flex-direction: row;
}

.header-dropdown-nav {
  position: absolute;
  display: none;
  width: 100px;
  border-radius: 5px;
  top: 40px;
}

.header-signup-button {
  display: flex;
  align-self: center;
  align-items: center;
  color: black;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 16px;
  height: 28px;
  border: 2px solid black;
  border-radius: 20px;
  font-weight: bold;
  padding: 0px 15px;
}

.header-signup-button:hover {
  color: #aac1ca;
}

.header-login-button {
  display: flex;
  align-items: center;
  padding: 0px 15px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.header-login-button:hover {
  color: #aac1ca;
}

.user-dropdown-nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  
}
.user-dropdown-nav > a {
  display: flex;
  height: 43px;
  width: 80px;
  align-self: center;
  align-items: center;
  padding: 0px 15px;
  text-decoration: none;
  
  // font-family: Arial, Helvetica, sans-serif;
  // font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: lighter;
  // letter-spacing: 1px;;
  font-weight: bold;
  // text-align: center;
  color: black;
  border: 2px solid black;
  border-radius: 25px;

}

.header-upload-button:hover {
  // background-color: #aab9ca;
  background-color: #d9e0e7;
} 

.display-nav {
  float: right;
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.nav-main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-logos {
  display: flex;
  flex-direction: center;

}

.nav-logo-links {
  display: flex;
  align-items: center;
}

.logo-link {
  color: black;
  font-size: 25px;
  text-decoration: none;
  /* margin-right: 10px; */
  font-family: 'Comfortaa', cursive;
}

.logo-link:hover {
  color: #aac1ca;
}


.center-links {
  display: flex;
  align-items: center;
  /* margin-top: 20px; */
  margin-left: 20px;

}

.center-link {
  color: black;
  text-decoration: none;
  margin: 0 32px;
  font-size: 15.5px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  color: #333333;
  
}

.center-link:hover {
  color: #aac1ca;
}

.user-dropdown {
  position: relative;
  display: inline-block;
}

.user-dropdown-nav {
    width: 100%;
  /* display: flex; */
  /* flex-direction: column; */
  justify-content: space-between; 
}

.user-dropdown-nav-content {
  position: absolute;
  display: none;
  width: 100px;
  margin-top: 0px;
  box-shadow: #afbfca 0px 2px 9px, white 0px 0px 2px;
  margin-left: -40px;
  border-top-width: 1px;
  border-top-color: rgb(255, 255, 255);
  padding: 8px 0px;
  border-radius: 5px;
  box-sizing: border-box;
  content: '';
	border-left: 0;
}


.show {
  display: block;
}

.user-dropdown-header-icon {
  width: 36px;
  vertical-align: middle;
  height: 36px;
  padding: 10px;
  margin-left: 10px;
  border: 0px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-dropdown-header-icon:hover {
  cursor: pointer;
  transition: all 0.3s ease;
}

.user-dropdown-nav-content:hover {
  display: block;
}

.user-dropdown-nav-content a {
  display: block;
  padding: 10px;
  color: black;
}

.dropdown-link {
  color: black;
  text-decoration: none;
}

.dropdown-link:hover {
  color: black;
  background: #aab9ca;
}





