.upload-photo-title {
  display: flex;
  margin-left: 64px;
  font-family: sans-serif;
  border-bottom: 10px black;
  margin-bottom: 20px;
  // height: 100px;
}

.upload-photo-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 100px;
}

.upload-photo-form {
  margin-left: 60px;
}

.upload-photo-form > p {
  margin-left: 32px;
}

.upload-icon-container {
  display: flex;
  padding-left: 66px;
  padding-bottom: 18px;
}

.upload-icon {
  display: flex;
  align-items: center;
}

.upload-form-bottom {
  width: 390px;
  background-color: #e9e9e9;
  padding: 12px;
  margin: 12px;
  font-family: sans-serif;
}

.upload-form-bottom {
  padding-left: 15px;
}

.form-bottom-text {
  padding-bottom: 12px;
}

.form-bottom-text > h4 {
  font-size: 15px;
  padding-top: 3px;
  padding-bottom: 0px;
  margin: 3px;
}

.form-bottom-text > ul {
  padding: 0px;
  margin: 0px;
  margin-left: 5px;
}

.form-bottom-text > ul > li {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.input[type="file"] {
  color: transparent;
  opacity: 0;
}

//removes default choose file button to upload a photo
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input {
  border: 0;
  outline: none;
  -webkit-appearance: none;
}

.custom-file-input::before {
  content: "Choose a Photo";
  display: flex;
  align-self: center;
  background: #545f87;
  align-content: center;
  width: 140px;
  padding: 20px;
  border-radius: 40px;
  border: 0;
  background-color: #545f87;
  color: white;
  font-size: 16px;
  font-weight: bolder;
  letter-spacing: 1px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  overflow: hidden;
}

.custom-file-input:hover::before {
  background-color: #aac1ca;
}

.upload-form-container {
  padding-left: 63px;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
}

.upload-form-preview {
  display: flex;
  flex-direction: row;
}

.upload-form-preview > img {
  width: 500px;
  height: auto;
}

.upload-form > form {
  padding: 15px;
  width: 345px;
  border: 2px solid #e1eaeb;
  align-items: center;
}

.upload-form form > div {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.upload-form label {
  font-size: 14px;
  margin-bottom: 10px;
  color: #4a4a4a;
}

.upload-form input {
  font-size: 14px;
  font-family: sans-serif;
  padding: 10px 14px;
  color: #525558;
  border-radius: 3px;
  border: 1px solid rgba(185, 185, 185, 0.5);
}

.upload-form textarea {
  font-size: 14px;
  font-family: sans-serif;
  padding: 8px 10px;
  color: #525558;
  border-radius: 3px;
  border: 1px solid rgba(185, 185, 185, 0.5);
}

.upload-form select {
  font-size: 14px;
  color: #525558;
  border: 1px solid rgba(185, 185, 185, 0.5);
  border-radius: 3px;
  background-color: white;
  padding: 8px 32px 8px 12px;
  appearance: none;
  -webkit-appearance: none;
}

.upload-form button {
  display: flex;
  margin-top: 15px;
  margin-left: 70px;
  background-color: #545f87;
  width: 180px;
  height: 40px;
  color: white;
  display: block;
  align-self: center;
  border-radius: 20px;
  border: 0;
  font-size: 16px;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
  -webkit-appearance: none;
  //this gets rid of click-border
  outline: none;
}

.upload-form button:hover {
  background-color: #aac1ca;
}

.form-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}

.form-bottom input {
  width: 120px;
}

.cancel-link {
  text-decoration: none;
}
